<mat-card>
  <mat-card-header>Layer editor</mat-card-header>
  <mat-card-content style="margin-right: -24px; margin-left: -24px">
    <div style="display:flex">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="level">
          <mat-header-cell *matHeaderCellDef> Level</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.level}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="color">
          <mat-header-cell *matHeaderCellDef> Color</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input matInput
                   [(colorPicker)]="element.color"
                   [style.background]="element.color"
                   (colorPickerChange)="colorChange()"
                   [value]="element.color"/>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="remove">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="removeColor(element.level)">Remove</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <img [src]="preview_data" *ngIf="preview_data" width="100" height="500"/>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addColor()">Add</button>
  </mat-card-actions>
</mat-card>

